extends _html
block append vars
  - path   = 'index.html'
block append style
  style.
    ._article ._bimoji { top:6em }
    ._article h1 { line-height:1;padding-top:.3em;margin-top:1rem }
    ._article .desc { padding-bottom:1.3em;margin-top:-0.7em }
    #pages_ ul,
    #posts_ ul,
    .markdown-body .rapat { margin:1rem 0;padding-left:1.3em }
    #pages_ ul li,
    #posts_ ul li,
    .markdown-body .rapat li { margin-left:0 }
block header
  //- no header
  +hide_header
block nav
  //- no nav
  +hide_nav
mixin index_nav(ref)
  b: +sn(ref+"/")| !{capitalize(ref)}
  +angle
  +sn(ref+"/preview")| Preview
  +bull
  +sn(ref+"/samples")| Samples
block content
  .relative: ._bimoji !{icon}
  h1 !{icon} The {{ site.title }} Project
  //- p.desc {{ site.description }}
  nav._common_nav: +include('nav','dove/nav.md')
  .flex(style="gap:3rem")
    .fill#themes_
      //- h3.mt-0 Themes
      p.text-grey We are working on the following themes.
      nav: ul.rapat
        li: +index_nav('core')
        li: +index_nav('mallet')
        li: +index_nav('prime')
  +thin_hr
  p.text-grey Development posts and pages.
  .flex(style="gap:1rem;flex-flow:wrap")
    #pages_(style="min-width:250px")
      h3.mt-0 Pages
        //- - exclude_pages = [ ].join(",");
      +capture('pages')
        +l|{% include pages.md exclude="!{exclude_pages}" %}
      nav|{{ pages | markdownify }}
    #posts_(style="min-width:250px")
      h3.mt-0 Posts
      //- - exclude_posts = [ ].join(",");
      +capture('posts')
        +l|{% include posts.md exclude="!{exclude_posts}" %}
      nav|{{ posts | markdownify }}
  +if_dev
    +thin_hr
    +capture('nav_test')
      +l|{% include dove/test_nav.md %}
      +l|{{- bull -}} [404](404)
    |{{ nav_test | markdownify }}
  +thin_hr
  +capture('dove_nav')
    +l|**Dove**
    +l|{{- angle -}}
    +l|[Repository](https://github.com/techie-joe/dove){: target="github.com/techie-joe/dove" }
    +l|{{- bull -}}
    +l|[Proto](https://techie-joe.github.io/proto){: target="techie-joe.github.io/proto" }
    +l|{{- bull -}}
    +l|[ThemeJs](https://techie-joe.github.io/nova/site/themejs){: target="techie-joe.github.io/nova" }
  |{{ dove_nav | markdownify }}
  +thin_hr
  h3 Configurations
  +include('config','dove/config.md')