include _main

//- ==============================================================
//- mixins
//- ==============================================================

mixin front_matter
  !='---'
  block
  !='\n---\n'

mixin yml
  !='```yml\n'
  block
  !='\n```\n'

mixin capture(id='')
  !=`{%- capture ${id} %}`
  block
  !=`{%- endcapture %}`

mixin include(id='',path='',args='',filters='| markdownify')
  +capture(id)!=`{%- include ${[path,args].join(' ')} %}`
  !=`{{ ${[id,filters].join(' ')} }}`

mixin include_relative(id='',path='',args='',filters='| markdownify')
  +capture(id)!=`{%- include_relative ${[path,args].join(' ')} %}`
  !=`{{ ${[id,filters].join(' ')} }}`

mixin if_env(environment)
  !=`{%- if site.github.environment == '${environment}' -%}`
  block
  !=`{%- endif %}`

mixin if_dev
  +if_env('development'): block

mixin if_prod
  +if_env('production'): block

//- ==============================================================
//- icons
//- ==============================================================

mixin _itext
  +l: +itext: block

mixin _isvg(icon=svgi.angle)
  +l: +isvg(icon)

mixin bull
  +itext|&bull;

mixin _bull
  +_itext|&bull;

mixin middot
  +itext|&middot;

mixin _middot
  +_itext|&middot;

mixin angle
  +isvg(svgi.angle)

mixin _angle
  +_isvg(svgi.angle)

//- ==============================================================
//- mixins
//- ==============================================================

mixin holdBody
  style.
    .hold { display:none }
  script.
    ((d=document)=>{
      const c=(d.documentElement||d.body).classList;
      c.add('hold');
      d.addEventListener('DOMContentLoaded',_=>{c.remove('hold')});
    })();

mixin fadeInBody
  style.
    .fade { transition:opacity .5s linear }
    .fadeOut { opacity:0 }
    @media (prefers-reduced-motion: reduce) {
      .fadeOut { transition:none }
    }
  script.
    ((d=document)=>{
      const c=(d.documentElement||d.body).classList;
      c.add('fade','fadeOut');
      d.addEventListener('DOMContentLoaded',_=>{
        c.remove('fadeOut');setTimeout(_=>c.remove('fade'),500);
      });
    })();

mixin thin_hr
  hr.thin/

mixin hide_header
  style.
    ._header{display:none !important}

mixin hide_nav
  style.
    ._nav{display:none !important}

mixin hide_footer
  style.
    ._footer{display:none !important}

mixin edit_link(path)
  | This site is open source.
  | #[a(href=`{{ site.github.repository_url }}/edit/main/_source/${path}.pug`)| Improve this page].

mixin _edit_link
  +thin_hr
  p.text-right.text-grey: small: +edit_link(path)

mixin sn(ref)
  - _path = removePathExt(path,'html');
  if ref == _path || ref+'index.html' == _path
    b: block
  else
    +a(['{{ site.baseurl }}',ref].join('/')): block

mixin samples_nav(ref)
  +sn(ref+"/")| About
  +bull
  +sn(ref+"/preview")| Preview
  +bull
  +sn(ref+"/samples")| Samples

mixin test_nav(ref)
  +sn(ref+"/test_colors")| Colors
  +bull
  +sn(ref+"/test_code-blocks")| Code blocks

mixin site_nav(ref)
  +sn(ref+"/home")| Home
  +bull
  +sn(ref+"/page")| Page
  +bull
  +sn(ref+"/post")| Post
  +bull
  +sn(ref+"/404")| 404

mixin sample_404(_title,_description)
  .flex(style="margin:2rem 0 3rem")
    .fit(style="font-size:4rem;padding:.8rem;line-height:1") 🤷
    .f(style="padding:0 1rem;")
      h3(style="margin-top:0;padding-top:1rem;") !{ _title || title }
      p !{ _description || description }
  +thin_hr
  - x = `sub="${layout_name}"`
  +include('common_nav','dove/sample_common_nav.md',x)

mixin sample_home
  style.
    ._article h1.hero { border:0;padding-bottom:0;margin-bottom:1rem }
    ._article h2.desc { border:0;margin-top:-0.7em }

  .relative: ._bimoji !{icon}
  
  h1.hero Main title
  h2.desc !{icon} Slogan and description

  p Immediately after is usually a #[b #[a(href="#CTA" onclick=onclick()) call to action]].

  div(style="margin-top:2.5rem")
  a(href="#CTA1" onclick="event.preventDefault();" title="Main call to action." class="button primary" style="padding:.5em 1em;font-size:1rem;") Get started
  //- |{{-}}
  a(href="#CTA2" onclick="event.preventDefault();" title="Secondary call to action." class="button secondary" style="padding:.5em 1em;font-size:1rem;font-weight:normal;") Learn more

  +thin_hr

  p: code // home page sample written in html