include _main

//- ==============================================================
//- mixins
//- ==============================================================

mixin front_matter
  !='---'
  block
  !='\n---\n'

mixin yml
  !='```yml\n'
  block
  !='\n```\n'

mixin capture(id='')
  !=`{%- capture ${id} %}`
  block
  !=`{%- endcapture %}`

mixin include(id='',path='',args="",filter=" | markdownify")
  +capture(id)!=`{%- include ${path}${args} %}`
  !=`{{ ${id}${filter} }}`

mixin include_relative(id='',path='',args="",filter=" | markdownify")
  +capture(id)!=`{%- include_relative ${path}${args} %}`
  !=`{{ ${id}${filter} }}`

mixin if_env(environment)
  !=`{%- if site.github.environment == '${environment}' -%}`
  block
  !=`{%- endif %}`

mixin if_dev
  +if_env('development'): block

mixin if_prod
  +if_env('production'): block

//- ==============================================================
//- icons
//- ==============================================================

mixin _itext
  +l: +itext: block

mixin _isvg(icon=svgi.angle)
  +l: +isvg(icon)

mixin bull
  +itext|&bull;

mixin _bull
  +_itext|&bull;

mixin middot
  +itext|&middot;

mixin _middot
  +_itext|&middot;

mixin angle
  +isvg(svgi.angle)

mixin _angle
  +_isvg(svgi.angle)

//- ==============================================================
//- mixins
//- ==============================================================

mixin holdBody
  style.
    .hold { display:none }
  script.
    ((d=document)=>{
      const c=(d.documentElement||d.body).classList;
      c.add('hold');
      d.addEventListener('DOMContentLoaded',_=>{c.remove('hold')});
    })();

mixin fadeInBody
  style.
    .fade { transition:opacity .5s linear }
    .fadeOut { opacity:0 }
    @media (prefers-reduced-motion: reduce) {
      .fadeOut { transition:none }
    }
  script.
    ((d=document)=>{
      const c=(d.documentElement||d.body).classList;
      c.add('fade','fadeOut');
      d.addEventListener('DOMContentLoaded',_=>{
        c.remove('fadeOut');setTimeout(_=>c.remove('fade'),500);
      });
    })();

mixin thin_hr
  hr.thin/

mixin hide_header
  style.
    ._header{display:none !important}

mixin hide_nav
  style.
    ._nav{display:none !important}

mixin hide_footer
  style.
    ._footer{display:none !important}

mixin edit_link(path)
  | This site is open source.
  | #[a(href=`{{ site.github.repository_url }}/edit/main/_source/${path}.pug`)| Improve this page].

mixin _edit_link
  +thin_hr
  p.text-right.text-grey: small: +edit_link(path)

mixin sn(ref)
  - _path = removePathExt(path,'html');
  if ref == _path || ref+'index.html' == _path
    b: block
  else
    +a(['{{ site.baseurl }}',ref].join('/')): block

mixin samples_nav(ref)
  +sn(ref+"/")| About
  +bull
  +sn(ref+"/preview")| Preview
  +bull
  +sn(ref+"/samples")| Samples

mixin test_nav(ref)
  +sn(ref+"/test_colors")| Colors
  +bull
  +sn(ref+"/test_code-blocks")| Code blocks

mixin site_nav(ref)
  +sn(ref+"/home")| Home
  +bull
  +sn(ref+"/page")| Page
  +bull
  +sn(ref+"/post")| Post
  +bull
  +sn(ref+"/404")| 404

mixin page_footer
  aside
    .mt-6
    hr
    h2 Other pages
    +include('pages','pages.md')

mixin post_footer
  aside
    .mt-6
    hr
    h2 Other posts
    +include('posts','posts.md')